body{
	background-color: black;
}

.heading{
	position:absolute;
	left: 700px;
	top: 70px;
	font-size: 2.5em;
	font-style: oblique;
	font-effect: emboss;
	font-family: fantasy;
	color: white;
}
.how-to{
	float: right;
	left:3px;
	max-width: 150px;	
	font-size: 1.5em;
	font-style:italic;
	font-family: serif;
	color:crimson;
}
#click-ryu{
	padding: 10px 0px 10px 5px;
}
#press-x{
	padding: 10px 0px 10px 5px;	
}
.main{
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}
.ryu{
	float: left;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool{
	width: 659px;
	height: 494px;
}
.ryu-ready, .ryu-throwing, .ryu-cool{
	display: none;
}
.ryu-ready{
	background-image: url('../images/ryu-ready-position.gif');
}
.ryu-still{
	background-image: url('../images/ryu-standing-still.png')
}
.ryu-throwing{
	background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool{
	background-image: url('../images/ryu-cool.gif');
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing{
	background-repeat: no-repeat;
}
.hadouken{
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: relative;
	top: 127px;
	left: -212px;
	float: left;
}
/*
*{
	outline: red 1px solid;
}*/








